In [ ]:
import os
from database_connect.databases.mongodb import MongoIO as mongo
from pymongo import MongoClient

In [ ]:
client_url= ""
database_name = "Test"

In [ ]:
try:
    client = MongoClient(client_url)
    client.admin.command('ping')
    print("Connected to MongoDB successfully!")

except Exception as e:
    print(f"Failed to connect to MongoDB: {e}")

Connected to MongoDB successfully!

In [ ]:
def upload_files_to_mongodb(
                            mongo_client_con_string,
                            database_name,
                            datasets_dir_name):
  
  for file in os.listdir(datasets_dir_name):
    if file.endswith('.csv'):
      file_name = file.split('.')[0]
      mongo_connection = mongo(
          client_url = mongo_client_con_string,
          database_name= database_name,
          collection_name= file_name
      )
      file_path = os.path.join(datasets_dir_name, file)
      print(file_path)
      mongo_connection.bulk_insert(file_path)
      print(f"{file_name} is uploaded to mongodb")

In [ ]:
upload_files_to_mongodb(
    mongo_client_con_string= client_url,
    database_name = database_name,
    datasets_dir_name= r"D:/CompilerX/test1/data")

D:/CompilerX/test1/data\compilerx_industry.csv
compilerx_industry is uploaded to mongodb

In [ ]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient("mongodb+srv://padma1:12345@Test.pvswmjw.mongodb.net/?retryWrites=true&w=majority&appName=Test", serverSelectionTimeoutMS=5000)
mydb = client['Test']
collection = mydb['compilerx_industry']
cursor = collection.find({})
data = list(cursor)
cursor.close()
df = pd.DataFrame(data)
df.head()

,_id,uuid,company,industry,count_of_company
0,669f75a65595ff396352c653,c9bc09ef-7f51-3987-bd63-86f4478cea5a,Overlay Studio,software,16245
1,669f75a65595ff396352c654,fe475f64-7ab5-3ca6-bcdf-d4601ce9e5ea,Metropolis,software,16245
2,669f75a65595ff396352c655,18e62237-8acb-322f-b6d8-ac9729ae4177,Stage 3 systems,software,16245
3,669f75a65595ff396352c656,700abb23-fc0f-32ec-8af7-c142adda8db8,AlphaPoint,software,16245
4,669f75a65595ff396352c657,12bff66d-6ddd-3d13-9143-eaeffe3d3998,Ferrum Health,software,16245